{% extends "arsmateria-zola-theme/templates/index.html" %}

{% block head %}
<style>
    @media only screen and (max-width: 768px) {
        .mobile-hide {
            display: none;
        }
    }
</style>
<!-- START Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N5FMP84');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2RVSE7H378"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2RVSE7H378');
    </script>
    <!-- END Google Analytics -->
{% endblock %}

{% block header %}
    <header>
        <div class="title-banner bg-gradient-a2-a1 fg-dark-color">
            <div class="container text-center full-width">
                <div class="flex-layout horizontal ">
                    <div class="margin-auto mobile-hide">
                        <div class="landing_circle">
                            <img src="/me.jpg">
                        </div>
                    </div>
                    <div class="flex flex-layout vertical center">
                        <div class="">
                            <h1 class="text-shadow-dark">Brady O'Leary</h1>
                            <p class="text-shadow-dark">Full-stack Software Engineer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
<div class="container">
    {% if page.content %}
    {{ page.content | safe }}
    {% endif %}
    {% if section.content %}
    {{ section.content | safe }}
    {% endif %}
</div>
{% endblock content%}