<!-- Macros (Shortcodes for Templates) -->

{% macro tag(tag) %}
    {% set tagData = load_data(path="tags.json") %}
    {% if tagData[tag] %}
        {% set localTag = tagData[tag] %}
        <a href="/tags/{{tag}}">
            <div class="chip-sm fg-color {% if localTag.class %}{{localTag.class}}{% endif %}" {% if localTag.fgColor or localTag.bgColor %}style="{% if localTag.fgColor %}color:{{localTag.fgColor}};{% endif %}{% if localTag.bgColor %}background-color:{{localTag.bgColor}};{% endif %}"{% endif %} {% if localTag.tooltip %}title="{{localTag.tooltip}}"{% endif %}>{% if localTag.pretext %}{{localTag.pretext}}{% endif %}{% if localTag.text %}{{localTag.text}}{% else %}{{tag}}{% endif %}{% if localTag.posttext %}{{localTag.posttext}}{% endif %}</div>
        </a>
    {% else %}
        <!-- This tag isn't in tags.json! -->
        <a href="/tags/{{tag}}">
            <span class="chip-sm fg-color">{{tag}}</span>
        </a>
    {% endif %}
{% endmacro tag %}

{% macro bigTag(tag) %}
    {% set tagData = load_data(path="tags.json") %}
    {% if tagData[tag] %}
        {% set localTag = tagData[tag] %}
        <div class="chip-lg full-width text-center {% if localTag.class %}{{localTag.class}}{% endif %}" {% if localTag.fgColor or localTag.bgColor %}style="{% if localTag.fgColor %}color:{{localTag.fgColor}};{% endif %}{% if localTag.bgColor %}background-color:{{localTag.bgColor}};{% endif %}"{% endif %} {% if localTag.tooltip %}title="{{localTag.tooltip}}"{% endif %}>{% if localTag.pretext %}{{localTag.pretext}}{% endif %}{% if localTag.text %}{{localTag.text}}{% else %}{{tag}}{% endif %}{% if localTag.posttext %}{{localTag.posttext}}{% endif %}</div>
    {% else %}
        <!-- This tag isn't in tags.json! -->
        <span class="chip-lg full-width text-center">{{tag}}</span>
    {% endif %}
{% endmacro bigTag %}

{% macro category(name) %}
    <a href="/categories/{{name}}">{{name}}</a>
{% endmacro %}

{% macro categoryBlock(cat) %}
    {% set catData = load_data(path="categories.json") %}
    {% if catData[cat] %}
        {% set localCat = catData[cat] %}
        <a href="/categories/{{cat}}">
            <div class="content-square fg-color flex-layout horizontal center {% if localCat.class %} {{localCat.class}}{% endif %}" {% if localCat.fgColor or localCat.bgColor %}style="{% if localCat.fgColor %}color:{{localCat.fgColor}};{% endif %}{% if localCat.bgColor %}background-color:{{localCat.bgColor}};{% endif %}"{% endif %}>
                <div class="flex text-center">
                    <h2>{% if localCat.title %}{{localCat.title}}{% else %}{{cat}}{% endif %}</h2>
                    <p>{% if localCat.description %}{{localCat.description}}{% endif %}</p>
                </div>
            </div>
        </a>
    {% else %}
        <!-- This cat isn't in category.json! -->
        <a href="/categories/{{cat}}">
            <div class="content-square fg-color flex-layout horizontal center">
                <div class="flex text-center">
                    <h2>{{cat}}</h2>
                </div>
            </div>
        </a>
    {% endif %}
{% endmacro categoryBlock %}

{% macro titlecard(title, subtitle, style=false, textStyle=false, img=false) %}
<div class="title-banner {% if style %}{{ style }}{% endif %} {% if img %}img{% endif %}" {% if img %}style="background-image: url('{{img}}');"{% endif %}>
    <div class="container text-center {% if textStyle %}{{ textStyle }}{% endif %}">
        <h1> {{ title }}</h1>
        {% if subtitle %}
        <hr>
        <p> {{ subtitle }} </p>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro flashcard(title, subtitle, style=false, textStyle=false, img=false, readMore=false) %}
<div class="banner {% if style %}{{ style }}{% endif %} {% if img %}img{% endif %}" {% if img %}style="background-image: url('{{img}}');"{% endif %}>
    <div class="container text-center {% if textStyle %}{{ textStyle }}{% endif %}">
        <h1> {{ title }}</h1>
        {% if subtitle %}
        <hr>
        <p> {{ subtitle }} </p>
        {% endif %}
        {% if readMore %}
            <a href="{{ readMore }}">Read More →</a>
        {% endif %}
    </div>
</div>
{% endmacro %}

<!-- This is for use in Sections -->
{% macro flashcard_with_banner(title, subtitle, style=false, textStyle=false, img=false, readMore=false, cats=false, tags=false, ctr=false) %}
<div class="banner {% if style %}{{ style }}{% endif %} {% if img %}img{% endif %} banner-footer-wrapper" {% if img %}style="background-image: url('{{img}}');"{% endif %}>
    <div class="container text-center {% if textStyle %}{{ textStyle }}{% endif %}">
        <h1> {{ title }}</h1>
        {% if subtitle %}
        <hr>
        <p> {{ subtitle }} </p>
        {% endif %}
        {% if readMore %}
        <div class="full-width margin-top-bottom-2x">
            <a href="{{ readMore }}" class="button">Read More 🢂</a>
        </div>
        {% endif %}
        
    </div>
    <div class="banner-footer bg-darken bg-blur fg-dark-color">
        <div class="container flex-layout horizontal full-height">
            <div class="flex margin-top-bottom-auto text-shadow-dark">
                 {% if cats %} Filed under
                    {% for cat in cats %}
                        {{ macros::category(name=cat)}}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="flex margin-top-bottom-auto">
                {% if ctr %}
                    {{ctr | safe}}
                {% endif %}
            </div>
            <div class="margin-top-bottom-auto">
                {% if tags %}
                    {% for tag in tags %}
                        {{macros::tag(tag=tag)}}
                    {% endfor %}
                {% endif %}
            </div>
            
        </div>
    </div>
</div>
{% endmacro %}

<!-- Navigation bar -->
{% macro navbar(toc=false, isSection=false) %}
<nav class="navbar">
    <div toc-short class="container">
        <div class="flex-layout horizontal flex items">
            <div class="title">Section:&nbsp;</div>
            {% if toc %}
                {% for item in toc -%}
                <a href="#{{ item.id }}">{{ item.title }}</a>
                {% endfor -%}
            {% endif %}
            {% if isSection %}
            <a href="#section-pages">Pages</a>
            {% endif %}
            <div class="flex"></div>
            <a class="action" onclick="toggleLong(true)" action title="Show Table of Contents">[show]</a>
        </div>
    </div>
    <div toc-long class="container toc" hidden>
        <div class="flex-layout horizontal hbar">
            <div class="title">Table of Contents:</div>
            <div class="flex"></div>
            <a class="action" onclick="toggleLong(false)" action title="Hide Table of Contents">[hide]</a>
        </div>
        <ol>
            {% if toc %}
                {% for h1 in toc -%}
                    <li><a href="#{{ h1.id }}">{{ h1.title }}</a></li>
                    {% if h1.children %}
                        <ol type="a">
                            {% for h2 in h1.children %}
                                <li><a href="#{{ h2.id }}">{{ h2.title }}</a></li>
                                {% if h2.children %}
                                    <ol type="i">
                                        {% for h3 in h2.children %}
                                            <li><a href="#{{ h3.id }}">{{ h3.title }}</a></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    {% endif %}
                {% endfor -%}
            {% endif %}
            {% if isSection %}
            <li><a href="#section-pages">Pages</a></li>
            {% endif %}
        </ol>
    </div>
</nav>
{% endmacro %}
