{% extends "index.html" %}

{% block description %}
{% if page.description_long %}
    {{ page.description_long }}
{% else %}
    {{ page.description }}
{% endif %}
{% endblock %}

{% block keywords %}{% if page.taxonomies.tags %}{{ page.taxonomies.tags | join(sep=", ") }}{% endif %}{% endblock keywords %}

{% block content %}
{% if page.extra %}
    {% set titlecardStyle = false %}
    {% set titlecardTextStyle = false %}
    {% set titlecardImg = false %}
    {% if page.extra.titlecard %}
        {% set titlecardStyle = page.extra.titlecard %}
    {% endif %}
    {% if page.extra.titlecard_text %}
        {% set titlecardTextStyle = page.extra.titlecard_text %}
    {% endif %}
    {% if page.extra.img %}
        {% set titlecardImg = page.extra.img %}
    {% endif %}
    {{ macros::titlecard(title=page.title, subtitle=page.description, style=titlecardStyle, textStyle=titlecardTextStyle, img=titlecardImg) }}
{% else %}
    {{ macros::titlecard(title=page.title, subtitle=page.description) }}
{% endif %}

{% if page.toc | length > 0 %}
    {% set pagetoc = page.toc %}
    {% if page.extra.toc %}
        {% set pagetoc = pagetoc | concat(with=page.extra.toc) %}
    {% endif %}
    {{ macros::navbar(toc=pagetoc) }}
{% endif %}

<div class="container">
    {% if not page.extra.hide_icons %}
        {% if page.date %}
        <div class="margin-top-bottom-2x flex-layout horizontal wrap">
            <div class="icon left"><i data-feather="calendar"></i></div>
            <b class="margin-top-bottom-auto">Posted: {{page.date}}</b>
        </div>
        {% endif %}
        <div class="margin-top-bottom-2x flex-layout horizontal wrap">
            <div class="icon left"><i data-feather="clock"></i></div>
            <b class="margin-top-bottom-auto">Est. Reading Time: {{page.reading_time}} {% if page.reading_time == 1 %}minute{% else %}minutes{% endif %}</b>
        </div>
        <div class="margin-top-bottom-2x flex-layout horizontal wrap">
            <div class="icon left"><i data-feather="user"></i></div>
            <b class="margin-top-bottom-auto">Author: {% if page.extra.author %}{{page.extra.author}}{% else %}{{config.extra.author}}{% endif %}</b>
        </div>
        {% if page.taxonomies.tags %}
        <div class="margin-top-bottom-2x flex-layout horizontal wrap">
            <div class="icon left"><i data-feather="tag"></i></div>
            {% for tag in page.taxonomies.tags %}
                {{macros::tag(tag=tag)}}
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
    
{{ page.content | safe }}
</div>
{% endblock content %}

